/*h1::after{
    content: "Extra Grande";
}*/

main{
    margin-top: 30px;
}
.sobre h1{
    text-align: center;
}
.sobre p{
    margin-top: 40px ;
    text-align: justify;
    line-height: 26px;
    
}
.sobre img{
    border-radius: 15px;
}
.obras{
    margin-top: 50px;
}
.obras h1{
    text-align: center;
}
.obras img{
    margin-top: 20px;
    border-radius: 15px;
}
.comentarios{
    margin-top: 30px;
}
.comentarios h1{
    text-align: center;
    margin-bottom: 30px;
}
.comentarios .card img{
    text-align: justify;
    margin: 20px auto;
}
.comentarios .card p{
    text-align: justify;
    margin: 20px;
}
.card{
    border-radius: 15px;
}
footer{
    background-color: #343a40;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    color: #fff;
    margin-top: 50px;
    padding: 20px;
}
footer p{
    margin: auto;
}
.modal-content{
    border-radius: 15px;
}
.modal-content img{
    border-radius: 15px;
}